{
  "presets": [
    [
      "@babel/preset-env",
      { "exclude": ["@babel/plugin-transform-regenerator", "@babel/plugin-transform-async-to-generator"] }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread"]
}
